


.container {
  margin:0 auto;
  /*padding:2em 0 2em 2em;
  border-top:50px solid black;
  border-bottom:30px dotted #4d0655;*/
  
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 2fr 1fr 1000px;
  grid-gap: 10px;
  grid-template-areas:
   ". . . a"
   "b b c c"
   ". d d ."
   "e e e e";
  
}

#parrafo_inicial{
  font-size: 1em;
  line-height: 2em;
}
header{grid-area:a;}

.uno{
background-color: rgb(181, 253, 255);
grid-area:b;

}



.dos{background-color: rgb(40, 208, 213);
  grid-area:c;



}
article{
  background-color: rgb(76, 190, 201);
  grid-area:d;
}

footer {
  background-color:black;
grid-area:e; 
color: white;
height: 100px;}
